CheckLockedDoor/locked_doors_flow.json
[{"id":"82125a78.b814d8","type":"read scratch","z":"3d8947d8.86ca68","bean":"ff952160.a138","name":"","readOne":false,"property1":"payload","type1":"string","readTwo":true,"property2":"payload","type2":"number","readThree":false,"property3":"","type3":"","readFour":false,"property4":"","type4":"","readFive":false,"property5":"","type5":"","x":162,"y":175,"wires":[["1a77b817.6e8c58","f7e6f4d3.144a08"]]},{"id":"6956b42f.5e75fc","type":"inject","z":"3d8947d8.86ca68","name":"Check Locked Door","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":134,"y":97,"wires":[["82125a78.b814d8"]]},{"id":"9826aae4.ec4e38","type":"debug","z":"3d8947d8.86ca68","name":"","active":true,"console":"false","complete":"payload","x":450.5,"y":350,"wires":[]},{"id":"1a77b817.6e8c58","type":"function","z":"3d8947d8.86ca68","name":"isUnlocked","func":"if (msg.payload === 0 && context.global.door_lock_count === 0){\n    msg.payload = 0;\n}\nelse if(msg.payload == 1 && context.global.door_lock_count === 0){\n    msg.payload = 1;\n    context.global.door_lock_count = 1;\n}\nelse if (msg.payload == 1 && context.global.door_lock_count === 1){\n    msg.payload = 0;\n    //do not send more messages\n}\nelse{\n  msg.payload = 0;\n  context.global.door_lock_count = 0;      \n\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":183,"y":250,"wires":[["69a79212.9b09ac"]]},{"id":"69a79212.9b09ac","type":"switch","z":"3d8947d8.86ca68","name":"Send One Email","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":1,"x":264,"y":305,"wires":[["9826aae4.ec4e38","7685afff.a1bac"]]},{"id":"db256d10.e0888","type":"e-mail","z":"3d8947d8.86ca68","server":"","port":"465","name":"","dname":"Warn User","x":587,"y":306,"wires":[]},{"id":"7685afff.a1bac","type":"function","z":"3d8947d8.86ca68","name":"Door Unlocked User Message","func":"msg.payload = \"Your Door has been unlocked\";\nreturn msg;","outputs":1,"noerr":0,"x":536,"y":194,"wires":[["db256d10.e0888"]]},{"id":"f7e6f4d3.144a08","type":"debug","z":"3d8947d8.86ca68","name":"Bean Output","active":true,"console":"false","complete":"payload","x":428.5,"y":105,"wires":[]},{"id":"ff952160.a138","type":"bean","z":"3d8947d8.86ca68","name":"Bean","uuid":"a495ff20-c5b1-4b44-b512-1370f02d74de","connectiontype":"timeout","connectiontimeout":"60"}]